// Variables

$mainFont: "Exo 2", Arial, sans-serif;
$navbarFont: "Play", Arial, sans-serif;
$mainFontSize: 18px;

$contentWidth: 940px;

$accentColor: #1880E1;
$linkColor: #000;
$linkActiveColor: $accentColor;
$headerBg: rgba(225, 225, 225, 0.9);
$footerColor: #FFF;
$footerBg: #3D3D3D;
$footerBorder: #888;
