// Media

@media screen and (max-width: 600px) {
	.navbar {
		float: none;
		
		li:not(:first-child) {
			display: none;
		}
		li:last-child {
			display: inline-block;
			float: right;
		}
	}

	.navbar.responsive {
		li {
			float: none;
		}
		li:not(:first-child) {
			display: block;
		}
	}

	.column {
		min-width: 100%;
	}

	#back-to-port {
		display: none;
	}

	#language-container {
		right: 40px !important;
	}

	.caption-container, .dot-container {
		display: none;
	}
}

@media screen and (max-width: 720px) {
	.social {
		display: none;
	}

	.close-btn {
		top: 5px;
		right: 10px;
		font-size: 20px;
		height: 24px;
		width: 24px;
		color: $closeBtnHoverColor;
		background-color: $prevNextBg;
		border-radius: 50%;
		text-align: center;
		line-height: 1;
	}

	#language-container {
		right: 0;
	}

	.mySlides img {
		max-height: 100%;
		margin-top: 0;
	}

	.prev, .next {
		padding: 10px;
		font-size: 20px;
		margin-top: -24px;
		color: $closeBtnHoverColor;
	}
}

@media only screen and (max-device-width: 800px) and (orientation: landscape) {
	#back-to-port {
		display: none;
	}

	.modal {
		padding-top: 0;
	}

	.caption-container, .dot-container {
		display: none;
	}

	.close-btn {
		top: 5px;
		right: 10px;
		font-size: 20px;
		height: 24px;
		width: 24px;
		color: $closeBtnHoverColor;
		background-color: $prevNextBg;
		border-radius: 50%;
		text-align: center;
		line-height: 1;
	}

	.prev, .next {
		padding: 10px;
		font-size: 20px;
		margin-top: -24px;
		color: $closeBtnHoverColor;
	}

	.mySlides img {
		max-height: 100%;
	}
}


@media screen and (max-width: 980px) {
	#title {
		padding-left: 15px;
	}

	.column {
		flex: 0 1 50%;
	}

	footer {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 1100px) {
	#top {
		display: none;
	}

	#top-small {
		display: block;
	}
}