// Variables

$mainFont: "Exo 2", Arial, sans-serif;
$navbarFont: "Play", Arial, sans-serif;
$mainFontSize: 18px;

$contentWidth: 940px;

$accentColor: #1880E1;
$linkColor: #000;
$linkActiveColor: $accentColor;
$headerBg: rgba(225, 225, 225, 0.9);
$footerColor: #FFF;
$footerBg: #3D3D3D;
$footerBorder: #888;
$modalBg: rgba(0, 0, 0, 0.9);
$closeBtnColor: #888;
$closeBtnHoverColor: #F0F0F0;
$slideNumberColor: #F0F0F0;
$prevNextBg: rgba(0, 0, 0, 0.2);
$prevNextHoverBg: rgba(0, 0, 0, 0.7);
$dotColor: #BBB;
$dotHoverColor: $accentColor;