/* Reset */
/* line 5, ../sass/main-about.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/main-about.scss */
button:focus {
  outline: 0;
}

/* Main Style */
/* line 19, ../sass/main-about.scss */
html {
  height: 100%;
}

/* line 23, ../sass/main-about.scss */
body {
  min-height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Exo 2", Arial, sans-serif;
  font-size: 18px;
}

/* line 41, ../sass/main-about.scss */
.flex-content {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@-moz-document url-prefix() {
  /* line 48, ../sass/main-about.scss */
  .flex-content {
    flex: 1;
  }
}
/* line 53, ../sass/main-about.scss */
#fixedHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(225, 225, 225, 0.9);
  font-family: "Play", Arial, sans-serif;
}

/* line 62, ../sass/main-about.scss */
.navbar {
  float: left;
}
/* line 65, ../sass/main-about.scss */
.navbar li {
  display: inline-block;
  float: left;
}
/* line 69, ../sass/main-about.scss */
.navbar li:last-child {
  display: none;
}
/* line 72, ../sass/main-about.scss */
.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  display: block;
  padding: 15px;
  width: 100%;
  height: 100%;
}
/* line 82, ../sass/main-about.scss */
.navbar a:hover {
  color: #1880E1;
  background-color: #e1e1e1;
}

/* line 89, ../sass/main-about.scss */
.navbar.responsive {
  position: relative;
}
/* line 92, ../sass/main-about.scss */
.navbar.responsive li:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 99, ../sass/main-about.scss */
.social {
  float: right;
}
/* line 102, ../sass/main-about.scss */
.social li {
  display: inline-block;
  float: left;
}
/* line 106, ../sass/main-about.scss */
.social a {
  color: #000;
  display: block;
  padding: 15px;
  width: 100%;
  height: 100%;
}
/* line 113, ../sass/main-about.scss */
.social a:hover {
  color: #1880E1;
  background-color: #e1e1e1;
}

/* line 120, ../sass/main-about.scss */
.active {
  color: #1880E1 !important;
}

/* line 124, ../sass/main-about.scss */
.content {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 130, ../sass/main-about.scss */
#top {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 135, ../sass/main-about.scss */
#top a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 15px;
}
/* line 141, ../sass/main-about.scss */
#top a:hover {
  color: #1880E1;
  background-color: #e1e1e1;
}

/* line 148, ../sass/main-about.scss */
#top, #top-small {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s, visibility 0.8s;
}

/* line 154, ../sass/main-about.scss */
#top.is-visible, #top-small.is-visible {
  visibility: visible;
  opacity: 1;
}

/* line 159, ../sass/main-about.scss */
#top-small {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
/* line 165, ../sass/main-about.scss */
#top-small a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 15px;
  background-color: rgba(225, 225, 225, 0.6);
}
/* line 172, ../sass/main-about.scss */
#top-small a:hover {
  color: #1880E1;
  background-color: #e1e1e1;
}

/* line 179, ../sass/main-about.scss */
#language-container {
  position: absolute;
  top: 0;
  display: inline-block;
}
/* line 184, ../sass/main-about.scss */
#language-container a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
}
/* line 191, ../sass/main-about.scss */
#language-container a:hover {
  color: #1880E1;
  background-color: #e1e1e1;
}

/* line 198, ../sass/main-about.scss */
.dropdown-content {
  display: none;
  background-color: rgba(225, 225, 225, 0.9);
  text-align: right;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 206, ../sass/main-about.scss */
#language-container:hover .dropdown-content {
  display: block;
}
/* line 209, ../sass/main-about.scss */
#language-container:hover .dropdown-content a {
  display: block;
}

/* line 214, ../sass/main-about.scss */
.main-content {
  max-width: 1400px;
  margin: 80px auto 60px;
}
/* line 218, ../sass/main-about.scss */
.main-content i {
  color: #1880E1;
  margin-right: 5px;
}
/* line 222, ../sass/main-about.scss */
.main-content hr {
  border-top: 1px solid #C8C8C8;
  margin-top: 5px;
}
/* line 226, ../sass/main-about.scss */
.main-content ul {
  padding-left: 50px;
}
/* line 229, ../sass/main-about.scss */
.main-content::after {
  content: "";
  clear: both;
  display: table;
}

/* line 236, ../sass/main-about.scss */
.left-col, .right-col {
  padding: 1%;
  float: left;
}

/* line 241, ../sass/main-about.scss */
.left-col {
  width: 34%;
}
@media screen and (max-width: 680px) {
  /* line 241, ../sass/main-about.scss */
  .left-col {
    width: 100%;
  }
}

/* line 249, ../sass/main-about.scss */
.right-col {
  width: 66%;
}
@media screen and (max-width: 680px) {
  /* line 249, ../sass/main-about.scss */
  .right-col {
    width: 100%;
  }
}

/* line 257, ../sass/main-about.scss */
.card {
  background-color: #F9F9F9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

/* line 263, ../sass/main-about.scss */
.top-card {
  margin-bottom: 14px;
}

/* line 267, ../sass/main-about.scss */
.photo-container {
  padding: 20px;
}
/* line 270, ../sass/main-about.scss */
.photo-container img {
  width: 100%;
  border-radius: 50%;
}
/* line 274, ../sass/main-about.scss */
.photo-container h2 {
  text-align: center;
  padding-top: 5px;
}

/* line 280, ../sass/main-about.scss */
.info {
  margin-bottom: 10px;
}
/* line 282, ../sass/main-about.scss */
.info p:last-of-type {
  padding-bottom: 15px;
}
@media screen and (max-width: 800px) {
  /* line 280, ../sass/main-about.scss */
  .info {
    padding: 0;
  }
}
@media screen and (max-width: 680px) {
  /* line 280, ../sass/main-about.scss */
  .info {
    padding: 0 20px;
  }
}

/* line 294, ../sass/main-about.scss */
.info, .skills, .languages, .about-me, .terms {
  padding: 0 20px;
}
@media screen and (max-width: 800px) {
  /* line 294, ../sass/main-about.scss */
  .info, .skills, .languages, .about-me, .terms {
    padding: 0;
  }
}
@media screen and (max-width: 680px) {
  /* line 294, ../sass/main-about.scss */
  .info, .skills, .languages, .about-me, .terms {
    padding: 0 20px;
  }
}

/* line 306, ../sass/main-about.scss */
.skills h3, .languages h3 {
  padding: 8px 0 5px 0;
}

/* line 311, ../sass/main-about.scss */
.languages {
  padding-bottom: 15px;
}

/* line 316, ../sass/main-about.scss */
.about-me h2 {
  padding: 20px 0;
}
/* line 319, ../sass/main-about.scss */
.about-me p {
  padding-bottom: 15px;
}

/* line 325, ../sass/main-about.scss */
.terms h3 {
  padding: 20px 0;
}
/* line 328, ../sass/main-about.scss */
.terms p {
  padding-bottom: 15px;
}
/* line 331, ../sass/main-about.scss */
.terms a {
  color: #1880E1;
}

/* line 337, ../sass/main-about.scss */
.badge {
  background-color: #1880E1;
  color: #FFF;
  padding: 4px 6px;
  border-radius: 4px;
}

/* line 344, ../sass/main-about.scss */
footer {
  color: #FFF;
  background-color: #3D3D3D;
  padding: 50px 0;
}
/* line 349, ../sass/main-about.scss */
footer h4 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
/* line 355, ../sass/main-about.scss */
footer p {
  font-weight: 300;
  line-height: 1.5em;
}
/* line 358, ../sass/main-about.scss */
footer p i {
  width: 15px;
  margin-right: 15px;
}
/* line 364, ../sass/main-about.scss */
footer .flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 10px 0;
}
/* line 394, ../sass/main-about.scss */
footer .flex-item {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-width: 250px;
}
/* line 402, ../sass/main-about.scss */
footer .flex-item:last-child {
  text-align: right;
}
/* line 407, ../sass/main-about.scss */
footer .social-footer li {
  display: inline-block;
  line-height: 2em;
}
/* line 411, ../sass/main-about.scss */
footer .social-footer a {
  color: #FFF;
  display: block;
  padding: 0 0 0 15px;
  width: 100%;
  height: 100%;
}
/* line 418, ../sass/main-about.scss */
footer .social-footer a:hover {
  color: #1880E1;
}
/* line 424, ../sass/main-about.scss */
footer #language-footer {
  text-align: center;
  position: relative;
}
/* line 428, ../sass/main-about.scss */
footer #language-footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}
/* line 433, ../sass/main-about.scss */
footer #language-footer a:hover {
  color: #1880E1;
}
/* line 439, ../sass/main-about.scss */
footer .dropdown-content-footer {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}
/* line 446, ../sass/main-about.scss */
footer #language-footer:hover .dropdown-content-footer {
  display: block;
}
/* line 450, ../sass/main-about.scss */
footer #copyright {
  margin-top: 20px;
  text-align: center;
  line-height: 1em;
}
/* line 455, ../sass/main-about.scss */
footer #copyright i {
  margin-right: 0;
}
/* line 460, ../sass/main-about.scss */
footer #developer {
  text-align: center;
  margin-top: 50px;
  color: #ccc;
  font-size: 13px;
}
/* line 466, ../sass/main-about.scss */
footer #developer i {
  margin-right: 3px;
}
/* line 470, ../sass/main-about.scss */
footer #developer a {
  color: #ccc;
}
/* line 473, ../sass/main-about.scss */
footer #developer a:hover {
  color: #3D3D3D;
  background-color: #ccc;
}

@media screen and (max-width: 600px) {
  /* line 4, ../sass/_media-about.scss */
  .navbar {
    float: none;
  }
  /* line 7, ../sass/_media-about.scss */
  .navbar li:not(:first-child) {
    display: none;
  }
  /* line 10, ../sass/_media-about.scss */
  .navbar li:last-child {
    display: inline-block;
    float: right;
  }

  /* line 17, ../sass/_media-about.scss */
  .navbar.responsive li {
    float: none;
  }
  /* line 20, ../sass/_media-about.scss */
  .navbar.responsive li:not(:first-child) {
    display: block;
  }

  /* line 25, ../sass/_media-about.scss */
  #language-container {
    right: 40px !important;
  }
}
@media screen and (max-width: 720px) {
  /* line 31, ../sass/_media-about.scss */
  .social {
    display: none;
  }

  /* line 35, ../sass/_media-about.scss */
  #language-container {
    right: 0;
  }
}
@media screen and (max-width: 980px) {
  /* line 41, ../sass/_media-about.scss */
  #title {
    padding-left: 15px;
  }

  /* line 45, ../sass/_media-about.scss */
  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 52, ../sass/_media-about.scss */
  #top {
    display: none;
  }

  /* line 56, ../sass/_media-about.scss */
  #top-small {
    display: block;
  }
}
